<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.Lhigh</key>
  <dict>
    <key>public.kern2.Rlownohigh</key>
    <integer>-264</integer>
    <key>public.kern2.Rlownohighnomid</key>
    <integer>-290</integer>
    <key>public.kern2.Rlowtail</key>
    <integer>-840</integer>
    <key>public.kern2.Rmidnohighnolow</key>
    <integer>-264</integer>
    <key>public.kern2.Rnone</key>
    <integer>-264</integer>
  </dict>
  <key>public.kern1.Llow</key>
  <dict>
    <key>public.kern2.Rhighnolow</key>
    <integer>-276</integer>
    <key>public.kern2.Rmidnohighnolow</key>
    <integer>-276</integer>
    <key>public.kern2.Rnone</key>
    <integer>-276</integer>
  </dict>
  <key>public.kern1.Lmid</key>
  <dict>
    <key>public.kern2.Rlownohigh</key>
    <integer>-140</integer>
    <key>public.kern2.Rlownohighnomid</key>
    <integer>-370</integer>
    <key>public.kern2.Rlowtail</key>
    <integer>-660</integer>
    <key>public.kern2.Rmidnohighnolow</key>
    <integer>-140</integer>
    <key>public.kern2.Rnone</key>
    <integer>-370</integer>
  </dict>
</dict>
</plist>
