<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.Lhigh</key>
  <array>
    <string>uni198A</string>
    <string>uni1994</string>
    <string>uni19BE</string>
    <string>uni19DE</string>
    <string>uni19DF</string>
  </array>
  <key>public.kern1.Llow</key>
  <array>
    <string>uni19B4</string>
    <string>uni19D7</string>
  </array>
  <key>public.kern1.Lmid</key>
  <array>
    <string>uni19DA</string>
  </array>
  <key>public.kern2.Rhighnolow</key>
  <array>
    <string>ampersand</string>
    <string>asterisk</string>
    <string>backslash</string>
    <string>copyright</string>
    <string>currency</string>
    <string>degree</string>
    <string>exclam</string>
    <string>greater</string>
    <string>greaterequal</string>
    <string>less</string>
    <string>lessequal</string>
    <string>lozenge</string>
    <string>numbersign</string>
    <string>paragraph</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>plusminus</string>
    <string>question</string>
    <string>quotedbl</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesingle</string>
    <string>registered</string>
    <string>slash</string>
    <string>trademark</string>
    <string>uni1986</string>
    <string>uni1991</string>
    <string>uni199A</string>
    <string>uni199D</string>
    <string>uni19A5</string>
    <string>uni19B2</string>
    <string>uni19B7</string>
    <string>uni19B9</string>
    <string>uni19BF</string>
    <string>uni19C0</string>
    <string>uni19D6</string>
  </array>
  <key>public.kern2.Rlownohigh</key>
  <array>
    <string>exclamdown</string>
    <string>questiondown</string>
    <string>semicolon</string>
    <string>uni1983</string>
    <string>uni1984</string>
    <string>uni1987</string>
    <string>uni198B</string>
    <string>uni198F</string>
    <string>uni1990</string>
    <string>uni1993</string>
    <string>uni1996</string>
    <string>uni1997</string>
    <string>uni1999</string>
    <string>uni199B</string>
    <string>uni199C</string>
    <string>uni19A1</string>
    <string>uni19A6</string>
    <string>uni19A7</string>
    <string>uni19A8</string>
    <string>uni19AA</string>
    <string>uni19B3</string>
    <string>uni19D4</string>
    <string>uni19D5</string>
    <string>uni19D9</string>
    <string>uni19DF</string>
  </array>
  <key>public.kern2.Rlownohighnomid</key>
  <array>
    <string>comma</string>
    <string>underscore</string>
    <string>uni19D2</string>
  </array>
  <key>public.kern2.Rmidnohighnolow</key>
  <array>
    <string>approxequal</string>
    <string>asciitilde</string>
    <string>bullet</string>
    <string>bulletoperator</string>
    <string>colon</string>
    <string>divide</string>
    <string>dottedCircle</string>
    <string>emdash</string>
    <string>endash</string>
    <string>equal</string>
    <string>horizontalbar</string>
    <string>hyphen</string>
    <string>infinity</string>
    <string>logicalnot</string>
    <string>multiply</string>
    <string>nonbreakinghyphen</string>
    <string>notequal</string>
    <string>periodcentered</string>
    <string>plus</string>
    <string>softhyphen</string>
    <string>uni1980</string>
    <string>uni1981</string>
    <string>uni1982</string>
    <string>uni1985</string>
    <string>uni1988</string>
    <string>uni1989</string>
    <string>uni198A</string>
    <string>uni198D</string>
    <string>uni198E</string>
    <string>uni1992</string>
    <string>uni1994</string>
    <string>uni1995</string>
    <string>uni1998</string>
    <string>uni199E</string>
    <string>uni199F</string>
    <string>uni19A0</string>
    <string>uni19A2</string>
    <string>uni19A3</string>
    <string>uni19B0</string>
    <string>uni19B1</string>
    <string>uni19B4</string>
    <string>uni19B5</string>
    <string>uni19B6</string>
    <string>uni19BA</string>
    <string>uni19BB</string>
    <string>uni19BC</string>
    <string>uni19BD</string>
    <string>uni19BE</string>
    <string>uni19C1</string>
    <string>uni19C2</string>
    <string>uni19C3</string>
    <string>uni19C4</string>
    <string>uni19C5</string>
    <string>uni19C6</string>
    <string>uni19C7</string>
    <string>uni19C8</string>
    <string>uni19C9</string>
    <string>uni19D0</string>
    <string>uni19D1</string>
    <string>uni19D3</string>
    <string>uni19D7</string>
    <string>uni19DA</string>
    <string>uni19DE</string>
  </array>
  <key>public.kern2.Rnone</key>
  <array>
    <string>asciicircum</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>uni19B8</string>
    <string>uni19D8</string>
  </array>
</dict>
</plist>
