<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>UFOFormat</key>
  <integer>2</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterID</key>
  <string>7B0ED8E7-AB6A-4F1F-A3B4-A871AFCC11BA</string>
  <key>com.schriftgestaltung.glyphOrder</key>
  <array>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>NumSgn</string>
    <string>DollarSgn</string>
    <string>PercentSgn</string>
    <string>Ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>PlusSgn</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>DigitZero</string>
    <string>DigitOne</string>
    <string>DigitTwo</string>
    <string>DigitThree</string>
    <string>DigitFour</string>
    <string>DigitFive</string>
    <string>DigitSix</string>
    <string>DigitSeven</string>
    <string>DigitEight</string>
    <string>DigitNine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>LTSgn</string>
    <string>EqSgn</string>
    <string>GTSgn</string>
    <string>question</string>
    <string>AtSgn</string>
    <string>LtnCapA</string>
    <string>LtnCapB</string>
    <string>LtnCapC</string>
    <string>LtnCapD</string>
    <string>LtnCapE</string>
    <string>LtnCapF</string>
    <string>LtnCapG</string>
    <string>LtnCapH</string>
    <string>LtnCapI</string>
    <string>LtnCapJ</string>
    <string>LtnCapK</string>
    <string>LtnCapL</string>
    <string>LtnCapM</string>
    <string>LtnCapN</string>
    <string>LtnCapO</string>
    <string>LtnCapP</string>
    <string>LtnCapQ</string>
    <string>LtnCapR</string>
    <string>LtnCapS</string>
    <string>LtnCapT</string>
    <string>LtnCapU</string>
    <string>LtnCapV</string>
    <string>LtnCapW</string>
    <string>LtnCapX</string>
    <string>LtnCapY</string>
    <string>LtnCapZ</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>GraveAccent</string>
    <string>LtnSmA</string>
    <string>LtnSmB</string>
    <string>LtnSmC</string>
    <string>LtnSmD</string>
    <string>LtnSmE</string>
    <string>LtnSmF</string>
    <string>LtnSmG</string>
    <string>LtnSmH</string>
    <string>LtnSmI</string>
    <string>LtnSmJ</string>
    <string>LtnSmK</string>
    <string>LtnSmL</string>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmO</string>
    <string>LtnSmP</string>
    <string>LtnSmQ</string>
    <string>LtnSmR</string>
    <string>LtnSmS</string>
    <string>LtnSmT</string>
    <string>LtnSmU</string>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmX</string>
    <string>LtnSmY</string>
    <string>LtnSmZ</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>uni00A0</string>
    <string>InvExclamationMrk</string>
    <string>CentSgn</string>
    <string>PoundSgn</string>
    <string>CurrSgn</string>
    <string>YenSgn</string>
    <string>BrokenBar</string>
    <string>SectionSgn</string>
    <string>Diaer</string>
    <string>CopyrightSgn</string>
    <string>FemOrdIndicator</string>
    <string>LftPtngDblAngQuotMrk</string>
    <string>NotSgn</string>
    <string>uni00AD</string>
    <string>RegisteredSgn</string>
    <string>Macron</string>
    <string>DegreeSgn</string>
    <string>PlusMinusSgn</string>
    <string>SupTwo</string>
    <string>SupThree</string>
    <string>AcuteAccent</string>
    <string>MicroSgn</string>
    <string>PilcrowSgn</string>
    <string>periodcentered</string>
    <string>Cedilla</string>
    <string>SupOne</string>
    <string>MascOrdIndicator</string>
    <string>RtPtngDblAngQuotMrk</string>
    <string>VulgFracOneQuarter</string>
    <string>VulgFracOneHalf</string>
    <string>VulgFracThreeQuarters</string>
    <string>InvQstnMrk</string>
    <string>LtnCapAGrave</string>
    <string>LtnCapAAcute</string>
    <string>LtnCapACircum</string>
    <string>LtnCapATilde</string>
    <string>LtnCapADiaer</string>
    <string>LtnCapARingAbv</string>
    <string>LtnCapAe</string>
    <string>LtnCapCCedilla</string>
    <string>LtnCapEGrave</string>
    <string>LtnCapEAcute</string>
    <string>LtnCapECircum</string>
    <string>LtnCapEDiaer</string>
    <string>LtnCapIGrave</string>
    <string>LtnCapIAcute</string>
    <string>LtnCapICircum</string>
    <string>LtnCapIDiaer</string>
    <string>LtnCapEth</string>
    <string>LtnCapNTilde</string>
    <string>LtnCapOGrave</string>
    <string>LtnCapOAcute</string>
    <string>LtnCapOCircum</string>
    <string>LtnCapOTilde</string>
    <string>LtnCapODiaer</string>
    <string>MultSgn</string>
    <string>LtnCapOStrk</string>
    <string>LtnCapUGrave</string>
    <string>LtnCapUAcute</string>
    <string>LtnCapUCircum</string>
    <string>LtnCapUDiaer</string>
    <string>LtnCapYAcute</string>
    <string>LtnCapThorn</string>
    <string>LtnSmSharpS</string>
    <string>LtnSmAGrave</string>
    <string>LtnSmAAcute</string>
    <string>LtnSmACircum</string>
    <string>LtnSmATilde</string>
    <string>LtnSmADiaer</string>
    <string>LtnSmARingAbv</string>
    <string>LtnSmAe</string>
    <string>LtnSmCCedilla</string>
    <string>LtnSmEGrave</string>
    <string>LtnSmEAcute</string>
    <string>LtnSmECircum</string>
    <string>LtnSmEDiaer</string>
    <string>LtnSmIGrave</string>
    <string>LtnSmIAcute</string>
    <string>LtnSmICircum</string>
    <string>LtnSmIDiaer</string>
    <string>LtnSmEth</string>
    <string>LtnSmNTilde</string>
    <string>LtnSmOGrave</string>
    <string>LtnSmOAcute</string>
    <string>LtnSmOCircum</string>
    <string>LtnSmOTilde</string>
    <string>LtnSmODiaer</string>
    <string>DivSgn</string>
    <string>LtnSmOStrk</string>
    <string>LtnSmUGrave</string>
    <string>LtnSmUAcute</string>
    <string>LtnSmUCircum</string>
    <string>LtnSmUDiaer</string>
    <string>LtnSmYAcute</string>
    <string>LtnSmThorn</string>
    <string>LtnSmYDiaer</string>
    <string>LtnSmDotlessI</string>
    <string>LtnCapLigOe</string>
    <string>LtnSmLigOe</string>
    <string>LtnCapSCaron</string>
    <string>LtnSmSCaron</string>
    <string>LtnCapYDiaer</string>
    <string>LtnCapZCaron</string>
    <string>LtnSmZCaron</string>
    <string>LtnSmFHook</string>
    <string>LtnCapEsh</string>
    <string>ModCircumAccent</string>
    <string>Caron</string>
    <string>Breve</string>
    <string>DotAbv</string>
    <string>RingAbv</string>
    <string>Ogonek</string>
    <string>SmTilde</string>
    <string>DblAcuteAccent</string>
    <string>CombGrave</string>
    <string>CombAcute</string>
    <string>CombCircum</string>
    <string>CombTilde</string>
    <string>CombDiaer</string>
    <string>CombRingAbv</string>
    <string>CombCaron</string>
    <string>CombCedilla</string>
    <string>GrCapPi</string>
    <string>GrCapOmega</string>
    <string>GrSmPi</string>
    <string>uni1980</string>
    <string>uni1981</string>
    <string>uni1982</string>
    <string>uni1983</string>
    <string>uni1984</string>
    <string>uni1985</string>
    <string>uni1986</string>
    <string>uni1987</string>
    <string>uni1988</string>
    <string>uni1989</string>
    <string>uni198A</string>
    <string>uni198B</string>
    <string>uni198C</string>
    <string>uni198D</string>
    <string>uni198E</string>
    <string>uni198F</string>
    <string>uni1990</string>
    <string>uni1991</string>
    <string>uni1992</string>
    <string>uni1993</string>
    <string>uni1994</string>
    <string>uni1995</string>
    <string>uni1996</string>
    <string>uni1997</string>
    <string>uni1998</string>
    <string>uni1999</string>
    <string>uni199A</string>
    <string>uni199B</string>
    <string>uni199C</string>
    <string>uni199D</string>
    <string>uni199E</string>
    <string>uni199F</string>
    <string>uni19A0</string>
    <string>uni19A1</string>
    <string>uni19A2</string>
    <string>uni19A3</string>
    <string>uni19A4</string>
    <string>uni19A5</string>
    <string>uni19A6</string>
    <string>uni19A7</string>
    <string>uni19A8</string>
    <string>uni19A9</string>
    <string>uni19AA</string>
    <string>uni19AB</string>
    <string>uni19B0</string>
    <string>uni19B1</string>
    <string>uni19B2</string>
    <string>uni19B3</string>
    <string>uni19B4</string>
    <string>uni19B5</string>
    <string>uni19B6</string>
    <string>uni19B7</string>
    <string>uni19B8</string>
    <string>uni19B9</string>
    <string>uni19BA</string>
    <string>uni19BB</string>
    <string>uni19BC</string>
    <string>uni19BD</string>
    <string>uni19BE</string>
    <string>uni19BF</string>
    <string>uni19C0</string>
    <string>uni19C1</string>
    <string>uni19C2</string>
    <string>uni19C3</string>
    <string>uni19C4</string>
    <string>uni19C5</string>
    <string>uni19C6</string>
    <string>uni19C7</string>
    <string>uni19C8</string>
    <string>uni19C9</string>
    <string>uni19D0</string>
    <string>uni19D1</string>
    <string>uni19D2</string>
    <string>uni19D3</string>
    <string>uni19D4</string>
    <string>uni19D5</string>
    <string>uni19D6</string>
    <string>uni19D7</string>
    <string>uni19D8</string>
    <string>uni19D9</string>
    <string>uni19DA</string>
    <string>uni19DE</string>
    <string>uni19DF</string>
    <string>uni2009</string>
    <string>uni200B</string>
    <string>uni2010</string>
    <string>uni2011</string>
    <string>endash</string>
    <string>emdash</string>
    <string>HorizBar</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>Dagger</string>
    <string>DblDagger</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>PerMilleSgn</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>FracSlash</string>
    <string>uni2060</string>
    <string>EuroSgn</string>
    <string>TradeMrkSgn</string>
    <string>OhmSgn</string>
    <string>PartialDiff</string>
    <string>Increment</string>
    <string>NAryProduct</string>
    <string>NArySummation</string>
    <string>BulletOperator</string>
    <string>SqrRoot</string>
    <string>Infinity</string>
    <string>Integral</string>
    <string>AlmostEqTo</string>
    <string>NotEqTo</string>
    <string>LTOrEqTo</string>
    <string>GTOrEqTo</string>
    <string>Lozenge</string>
    <string>uni25CC</string>
    <string>uni3000</string>
    <string>uni3001</string>
    <string>uni3002</string>
    <string>uni3008</string>
    <string>uni3009</string>
    <string>uni300A</string>
    <string>uni300B</string>
    <string>LtnSmLigFi</string>
    <string>LtnSmLigFl</string>
    <string>uniFF01</string>
    <string>uniFF08</string>
    <string>uniFF09</string>
    <string>uniFF0C</string>
    <string>uniFF0E</string>
    <string>uniFF1A</string>
    <string>uniFF1B</string>
    <string>uniFF1F</string>
    <string>dailuemodifierw</string>
    <string>dailuemodifierfinal</string>
    <string>.notdef</string>
    <string>CR</string>
    <string>NULL</string>
  </array>
  <key>com.schriftgestaltung.useNiceNames</key>
  <false/>
  <key>com.schriftgestaltung.weight</key>
  <string>Bold</string>
  <key>com.typemytype.robofont.back.layerStrokeColor</key>
  <array>
    <integer>1</integer>
    <real>0.75</real>
    <integer>0</integer>
    <real>0.7</real>
  </array>
  <key>com.typemytype.robofont.compileSettings.autohint</key>
  <true/>
  <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
  <false/>
  <key>com.typemytype.robofont.compileSettings.decompose</key>
  <false/>
  <key>com.typemytype.robofont.compileSettings.generateFormat</key>
  <integer>0</integer>
  <key>com.typemytype.robofont.compileSettings.releaseMode</key>
  <false/>
  <key>com.typemytype.robofont.foreground.layerShowCoordinates</key>
  <true/>
  <key>com.typemytype.robofont.foreground.layerShowFill</key>
  <false/>
  <key>com.typemytype.robofont.foreground.layerShowPoints</key>
  <true/>
  <key>com.typemytype.robofont.foreground.layerShowStroke</key>
  <true/>
  <key>com.typemytype.robofont.foreground.layerStrokeColor</key>
  <array>
    <real>0.5</real>
    <integer>0</integer>
    <real>0.5</real>
    <real>0.7</real>
  </array>
  <key>com.typemytype.robofont.italicSlantOffset</key>
  <integer>0</integer>
  <key>com.typemytype.robofont.layerOrder</key>
  <array>
    <string>back</string>
  </array>
  <key>com.typemytype.robofont.segmentType</key>
  <string>curve</string>
  <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
  <integer>0</integer>
  <key>com.typemytype.robofont.sort</key>
  <array>
    <dict>
      <key>ascending</key>
      <array>
        <string>space</string>
        <string>exclam</string>
        <string>quotedbl</string>
        <string>quotesingle</string>
        <string>parenleft</string>
        <string>parenright</string>
        <string>asterisk</string>
        <string>comma</string>
        <string>hyphen</string>
        <string>period</string>
        <string>slash</string>
        <string>colon</string>
        <string>semicolon</string>
        <string>question</string>
        <string>bracketleft</string>
        <string>backslash</string>
        <string>bracketright</string>
        <string>asciicircum</string>
        <string>underscore</string>
        <string>braceleft</string>
        <string>bar</string>
        <string>braceright</string>
        <string>asciitilde</string>
        <string>periodcentered</string>
        <string>uni1980</string>
        <string>uni1981</string>
        <string>uni1982</string>
        <string>uni1983</string>
        <string>uni1984</string>
        <string>uni1985</string>
        <string>uni1986</string>
        <string>uni1987</string>
        <string>uni1988</string>
        <string>uni1989</string>
        <string>uni198A</string>
        <string>uni198B</string>
        <string>uni198C</string>
        <string>uni198D</string>
        <string>uni198E</string>
        <string>uni198F</string>
        <string>uni1990</string>
        <string>uni1991</string>
        <string>uni1992</string>
        <string>uni1993</string>
        <string>uni1994</string>
        <string>uni1995</string>
        <string>uni1996</string>
        <string>uni1997</string>
        <string>uni1998</string>
        <string>uni1999</string>
        <string>uni199A</string>
        <string>uni199B</string>
        <string>uni199C</string>
        <string>uni199D</string>
        <string>uni199E</string>
        <string>uni199F</string>
        <string>uni19A0</string>
        <string>uni19A1</string>
        <string>uni19A2</string>
        <string>uni19A3</string>
        <string>uni19A4</string>
        <string>uni19A5</string>
        <string>uni19A6</string>
        <string>uni19A7</string>
        <string>uni19A8</string>
        <string>uni19A9</string>
        <string>uni19AA</string>
        <string>uni19AB</string>
        <string>uni19B0</string>
        <string>uni19B1</string>
        <string>uni19B2</string>
        <string>uni19B3</string>
        <string>uni19B4</string>
        <string>uni19B5</string>
        <string>uni19B6</string>
        <string>uni19B7</string>
        <string>uni19B8</string>
        <string>uni19B9</string>
        <string>uni19BA</string>
        <string>uni19BB</string>
        <string>uni19BC</string>
        <string>uni19BD</string>
        <string>uni19BE</string>
        <string>uni19BF</string>
        <string>uni19C0</string>
        <string>uni19C1</string>
        <string>uni19C2</string>
        <string>uni19C3</string>
        <string>uni19C4</string>
        <string>uni19C5</string>
        <string>uni19C6</string>
        <string>uni19C7</string>
        <string>uni19C8</string>
        <string>uni19C9</string>
        <string>uni19D0</string>
        <string>uni19D1</string>
        <string>uni19D2</string>
        <string>uni19D3</string>
        <string>uni19D4</string>
        <string>uni19D5</string>
        <string>uni19D6</string>
        <string>uni19D7</string>
        <string>uni19D8</string>
        <string>uni19D9</string>
        <string>uni19DA</string>
        <string>uni19DE</string>
        <string>uni19DF</string>
        <string>endash</string>
        <string>emdash</string>
        <string>quoteleft</string>
        <string>quoteright</string>
        <string>quotedblleft</string>
        <string>quotedblright</string>
        <string>bullet</string>
        <string>ellipsis</string>
        <string>guilsinglleft</string>
        <string>guilsinglright</string>
        <string>dailuemodifierw</string>
        <string>dailuemodifierfinal</string>
        <string>.notdef</string>
        <string>CR</string>
        <string>NULL</string>
        <string>A</string>
        <string>Aacute</string>
        <string>Acircumflex</string>
        <string>Adieresis</string>
        <string>Agrave</string>
        <string>Aring</string>
        <string>Atilde</string>
        <string>AE</string>
        <string>B</string>
        <string>C</string>
        <string>Ccedilla</string>
        <string>D</string>
        <string>Eth</string>
        <string>E</string>
        <string>Eacute</string>
        <string>Ecircumflex</string>
        <string>Edieresis</string>
        <string>Egrave</string>
        <string>Esh</string>
        <string>F</string>
        <string>G</string>
        <string>H</string>
        <string>I</string>
        <string>Iacute</string>
        <string>Icircumflex</string>
        <string>Idieresis</string>
        <string>Igrave</string>
        <string>J</string>
        <string>K</string>
        <string>L</string>
        <string>M</string>
        <string>N</string>
        <string>Ntilde</string>
        <string>O</string>
        <string>Oacute</string>
        <string>Ocircumflex</string>
        <string>Odieresis</string>
        <string>Ograve</string>
        <string>Oslash</string>
        <string>Otilde</string>
        <string>OE</string>
        <string>P</string>
        <string>Thorn</string>
        <string>Q</string>
        <string>R</string>
        <string>S</string>
        <string>Scaron</string>
        <string>T</string>
        <string>U</string>
        <string>Uacute</string>
        <string>Ucircumflex</string>
        <string>Udieresis</string>
        <string>Ugrave</string>
        <string>V</string>
        <string>W</string>
        <string>X</string>
        <string>Y</string>
        <string>Yacute</string>
        <string>Ydieresis</string>
        <string>Z</string>
        <string>Zcaron</string>
        <string>a</string>
        <string>aacute</string>
        <string>acircumflex</string>
        <string>adieresis</string>
        <string>agrave</string>
        <string>aring</string>
        <string>atilde</string>
        <string>ae</string>
        <string>b</string>
        <string>c</string>
        <string>ccedilla</string>
        <string>d</string>
        <string>eth</string>
        <string>e</string>
        <string>eacute</string>
        <string>ecircumflex</string>
        <string>edieresis</string>
        <string>egrave</string>
        <string>f</string>
        <string>g</string>
        <string>h</string>
        <string>i</string>
        <string>idotless</string>
        <string>iacute</string>
        <string>icircumflex</string>
        <string>idieresis</string>
        <string>igrave</string>
        <string>j</string>
        <string>k</string>
        <string>l</string>
        <string>m</string>
        <string>n</string>
        <string>ntilde</string>
        <string>o</string>
        <string>oacute</string>
        <string>ocircumflex</string>
        <string>odieresis</string>
        <string>ograve</string>
        <string>oslash</string>
        <string>otilde</string>
        <string>oe</string>
        <string>p</string>
        <string>thorn</string>
        <string>q</string>
        <string>r</string>
        <string>s</string>
        <string>scaron</string>
        <string>germandbls</string>
        <string>t</string>
        <string>u</string>
        <string>uacute</string>
        <string>ucircumflex</string>
        <string>udieresis</string>
        <string>ugrave</string>
        <string>v</string>
        <string>w</string>
        <string>x</string>
        <string>y</string>
        <string>yacute</string>
        <string>ydieresis</string>
        <string>z</string>
        <string>zcaron</string>
        <string>fi</string>
        <string>fl</string>
        <string>ordfeminine</string>
        <string>ordmasculine</string>
        <string>Pi</string>
        <string>Omega</string>
        <string>pi</string>
        <string>zero</string>
        <string>one</string>
        <string>two</string>
        <string>three</string>
        <string>four</string>
        <string>five</string>
        <string>six</string>
        <string>seven</string>
        <string>eight</string>
        <string>nine</string>
        <string>fraction</string>
        <string>onehalf</string>
        <string>onequarter</string>
        <string>threequarters</string>
        <string>onesuperior</string>
        <string>twosuperior</string>
        <string>threesuperior</string>
        <string>comma-han</string>
        <string>exclamdown</string>
        <string>numbersign</string>
        <string>period-han</string>
        <string>questiondown</string>
        <string>colon.full</string>
        <string>comma.full</string>
        <string>exclam.full</string>
        <string>period.full</string>
        <string>question.full</string>
        <string>semicolon.full</string>
        <string>anglebracketleft</string>
        <string>anglebracketright</string>
        <string>dblanglebracketleft</string>
        <string>dblanglebracketright</string>
        <string>parenleft.full</string>
        <string>parenright.full</string>
        <string>horizontalbar</string>
        <string>nonbreakinghyphen</string>
        <string>softhyphen</string>
        <string>guillemetleft</string>
        <string>guillemetright</string>
        <string>space-han</string>
        <string>nbspace</string>
        <string>thinspace</string>
        <string>zerowidthspace</string>
        <string>wordjoiner</string>
        <string>cent</string>
        <string>currency</string>
        <string>dollar</string>
        <string>euro</string>
        <string>florin</string>
        <string>sterling</string>
        <string>yen</string>
        <string>Ohm</string>
        <string>approxequal</string>
        <string>bulletoperator</string>
        <string>divide</string>
        <string>equal</string>
        <string>greater</string>
        <string>greaterequal</string>
        <string>increment</string>
        <string>infinity</string>
        <string>integral</string>
        <string>less</string>
        <string>lessequal</string>
        <string>logicalnot</string>
        <string>mu</string>
        <string>multiply</string>
        <string>notequal</string>
        <string>partialdiff</string>
        <string>percent</string>
        <string>perthousand</string>
        <string>plus</string>
        <string>plusminus</string>
        <string>product</string>
        <string>radical</string>
        <string>summation</string>
        <string>dottedCircle</string>
        <string>lozenge</string>
        <string>brokenbar</string>
        <string>at</string>
        <string>ampersand</string>
        <string>paragraph</string>
        <string>copyright</string>
        <string>registered</string>
        <string>section</string>
        <string>trademark</string>
        <string>degree</string>
        <string>dagger</string>
        <string>daggerdbl</string>
        <string>acutecomb</string>
        <string>caroncomb</string>
        <string>cedillacomb</string>
        <string>circumflexcomb</string>
        <string>dieresiscomb</string>
        <string>gravecomb</string>
        <string>ringcomb</string>
        <string>tildecomb</string>
        <string>acute</string>
        <string>breve</string>
        <string>caron</string>
        <string>cedilla</string>
        <string>circumflex</string>
        <string>dieresis</string>
        <string>dotaccent</string>
        <string>grave</string>
        <string>hungarumlaut</string>
        <string>macron</string>
        <string>ogonek</string>
        <string>ring</string>
        <string>tilde</string>
      </array>
      <key>type</key>
      <string>glyphList</string>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>question</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>periodcentered</string>
    <string>uni1980</string>
    <string>uni1981</string>
    <string>uni1982</string>
    <string>uni1983</string>
    <string>uni1984</string>
    <string>uni1985</string>
    <string>uni1986</string>
    <string>uni1987</string>
    <string>uni1988</string>
    <string>uni1989</string>
    <string>uni198A</string>
    <string>uni198B</string>
    <string>uni198C</string>
    <string>uni198D</string>
    <string>uni198E</string>
    <string>uni198F</string>
    <string>uni1990</string>
    <string>uni1991</string>
    <string>uni1992</string>
    <string>uni1993</string>
    <string>uni1994</string>
    <string>uni1995</string>
    <string>uni1996</string>
    <string>uni1997</string>
    <string>uni1998</string>
    <string>uni1999</string>
    <string>uni199A</string>
    <string>uni199B</string>
    <string>uni199C</string>
    <string>uni199D</string>
    <string>uni199E</string>
    <string>uni199F</string>
    <string>uni19A0</string>
    <string>uni19A1</string>
    <string>uni19A2</string>
    <string>uni19A3</string>
    <string>uni19A4</string>
    <string>uni19A5</string>
    <string>uni19A6</string>
    <string>uni19A7</string>
    <string>uni19A8</string>
    <string>uni19A9</string>
    <string>uni19AA</string>
    <string>uni19AB</string>
    <string>uni19B0</string>
    <string>uni19B1</string>
    <string>uni19B2</string>
    <string>uni19B3</string>
    <string>uni19B4</string>
    <string>uni19B5</string>
    <string>uni19B6</string>
    <string>uni19B7</string>
    <string>uni19B8</string>
    <string>uni19B9</string>
    <string>uni19BA</string>
    <string>uni19BB</string>
    <string>uni19BC</string>
    <string>uni19BD</string>
    <string>uni19BE</string>
    <string>uni19BF</string>
    <string>uni19C0</string>
    <string>uni19C1</string>
    <string>uni19C2</string>
    <string>uni19C3</string>
    <string>uni19C4</string>
    <string>uni19C5</string>
    <string>uni19C6</string>
    <string>uni19C7</string>
    <string>uni19C8</string>
    <string>uni19C9</string>
    <string>uni19D0</string>
    <string>uni19D1</string>
    <string>uni19D2</string>
    <string>uni19D3</string>
    <string>uni19D4</string>
    <string>uni19D5</string>
    <string>uni19D6</string>
    <string>uni19D7</string>
    <string>uni19D8</string>
    <string>uni19D9</string>
    <string>uni19DA</string>
    <string>uni19DE</string>
    <string>uni19DF</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>dailuemodifierw</string>
    <string>dailuemodifierfinal</string>
    <string>.notdef</string>
    <string>CR</string>
    <string>NULL</string>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>AE</string>
    <string>B</string>
    <string>C</string>
    <string>Ccedilla</string>
    <string>D</string>
    <string>Eth</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Esh</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>P</string>
    <string>Thorn</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>Scaron</string>
    <string>T</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zcaron</string>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
    <string>ae</string>
    <string>b</string>
    <string>c</string>
    <string>ccedilla</string>
    <string>d</string>
    <string>eth</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>idotless</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>ntilde</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>oe</string>
    <string>p</string>
    <string>thorn</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>scaron</string>
    <string>germandbls</string>
    <string>t</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>z</string>
    <string>zcaron</string>
    <string>fi</string>
    <string>fl</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>Pi</string>
    <string>Omega</string>
    <string>mu</string>
    <string>pi</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>fraction</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>comma-han</string>
    <string>exclamdown</string>
    <string>numbersign</string>
    <string>period-han</string>
    <string>questiondown</string>
    <string>colon.full</string>
    <string>comma.full</string>
    <string>exclam.full</string>
    <string>period.full</string>
    <string>question.full</string>
    <string>semicolon.full</string>
    <string>anglebracketleft</string>
    <string>anglebracketright</string>
    <string>dblanglebracketleft</string>
    <string>dblanglebracketright</string>
    <string>parenleft.full</string>
    <string>parenright.full</string>
    <string>horizontalbar</string>
    <string>nonbreakinghyphen</string>
    <string>softhyphen</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>space-han</string>
    <string>nbspace</string>
    <string>thinspace</string>
    <string>zerowidthspace</string>
    <string>wordjoiner</string>
    <string>cent</string>
    <string>currency</string>
    <string>dollar</string>
    <string>euro</string>
    <string>florin</string>
    <string>sterling</string>
    <string>yen</string>
    <string>bulletoperator</string>
    <string>plus</string>
    <string>multiply</string>
    <string>divide</string>
    <string>equal</string>
    <string>notequal</string>
    <string>greater</string>
    <string>less</string>
    <string>greaterequal</string>
    <string>lessequal</string>
    <string>plusminus</string>
    <string>approxequal</string>
    <string>logicalnot</string>
    <string>infinity</string>
    <string>integral</string>
    <string>Ohm</string>
    <string>increment</string>
    <string>product</string>
    <string>summation</string>
    <string>radical</string>
    <string>partialdiff</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>dottedCircle</string>
    <string>lozenge</string>
    <string>at</string>
    <string>ampersand</string>
    <string>paragraph</string>
    <string>section</string>
    <string>copyright</string>
    <string>registered</string>
    <string>trademark</string>
    <string>degree</string>
    <string>brokenbar</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dieresiscomb</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>caroncomb</string>
    <string>ringcomb</string>
    <string>tildecomb</string>
    <string>cedillacomb</string>
    <string>acute</string>
    <string>breve</string>
    <string>caron</string>
    <string>cedilla</string>
    <string>circumflex</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>hungarumlaut</string>
    <string>macron</string>
    <string>ogonek</string>
    <string>ring</string>
    <string>tilde</string>
  </array>
</dict>
</plist>
