<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>AcuteAccent</key>
	<string>AcuteAccent_.glif</string>
	<key>AlmostEqTo</key>
	<string>AlmostEqTo_.glif</string>
	<key>Ampersand</key>
	<string>Ampersand_.glif</string>
	<key>AtSgn</key>
	<string>AtSgn_.glif</string>
	<key>Breve</key>
	<string>Breve_.glif</string>
	<key>BrokenBar</key>
	<string>BrokenBar_.glif</string>
	<key>BulletOperator</key>
	<string>BulletOperator_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Caron</key>
	<string>Caron_.glif</string>
	<key>Cedilla</key>
	<string>Cedilla_.glif</string>
	<key>CentSgn</key>
	<string>CentSgn_.glif</string>
	<key>CombAcute</key>
	<string>CombAcute_.glif</string>
	<key>CombCaron</key>
	<string>CombCaron_.glif</string>
	<key>CombCedilla</key>
	<string>CombCedilla_.glif</string>
	<key>CombCircum</key>
	<string>CombCircum_.glif</string>
	<key>CombDiaer</key>
	<string>CombDiaer_.glif</string>
	<key>CombGrave</key>
	<string>CombGrave_.glif</string>
	<key>CombRingAbv</key>
	<string>CombRingAbv_.glif</string>
	<key>CombTilde</key>
	<string>CombTilde_.glif</string>
	<key>CopyrightSgn</key>
	<string>CopyrightSgn_.glif</string>
	<key>CurrSgn</key>
	<string>CurrSgn_.glif</string>
	<key>Dagger</key>
	<string>Dagger_.glif</string>
	<key>DblAcuteAccent</key>
	<string>DblAcuteAccent_.glif</string>
	<key>DblDagger</key>
	<string>DblDagger_.glif</string>
	<key>DegreeSgn</key>
	<string>DegreeSgn_.glif</string>
	<key>Diaer</key>
	<string>Diaer_.glif</string>
	<key>DigitEight</key>
	<string>DigitEight_.glif</string>
	<key>DigitFive</key>
	<string>DigitFive_.glif</string>
	<key>DigitFour</key>
	<string>DigitFour_.glif</string>
	<key>DigitNine</key>
	<string>DigitNine_.glif</string>
	<key>DigitOne</key>
	<string>DigitOne_.glif</string>
	<key>DigitSeven</key>
	<string>DigitSeven_.glif</string>
	<key>DigitSix</key>
	<string>DigitSix_.glif</string>
	<key>DigitThree</key>
	<string>DigitThree_.glif</string>
	<key>DigitTwo</key>
	<string>DigitTwo_.glif</string>
	<key>DigitZero</key>
	<string>DigitZero_.glif</string>
	<key>DivSgn</key>
	<string>DivSgn_.glif</string>
	<key>DollarSgn</key>
	<string>DollarSgn_.glif</string>
	<key>DotAbv</key>
	<string>DotAbv_.glif</string>
	<key>EqSgn</key>
	<string>EqSgn_.glif</string>
	<key>EuroSgn</key>
	<string>EuroSgn_.glif</string>
	<key>FemOrdIndicator</key>
	<string>FemOrdIndicator_.glif</string>
	<key>FracSlash</key>
	<string>FracSlash_.glif</string>
	<key>GTOrEqTo</key>
	<string>GTOrEqTo_.glif</string>
	<key>GTSgn</key>
	<string>GTSgn_.glif</string>
	<key>GrCapOmega</key>
	<string>GrCapOmega_.glif</string>
	<key>GrCapPi</key>
	<string>GrCapPi_.glif</string>
	<key>GrSmPi</key>
	<string>GrSmPi_.glif</string>
	<key>GraveAccent</key>
	<string>GraveAccent_.glif</string>
	<key>HorizBar</key>
	<string>HorizBar_.glif</string>
	<key>Increment</key>
	<string>Increment_.glif</string>
	<key>Infinity</key>
	<string>Infinity_.glif</string>
	<key>Integral</key>
	<string>Integral_.glif</string>
	<key>InvExclamationMrk</key>
	<string>InvExclamationMrk_.glif</string>
	<key>InvQstnMrk</key>
	<string>InvQstnMrk_.glif</string>
	<key>LTOrEqTo</key>
	<string>LTOrEqTo_.glif</string>
	<key>LTSgn</key>
	<string>LTSgn_.glif</string>
	<key>LftPtngDblAngQuotMrk</key>
	<string>LftPtngDblAngQuotMrk_.glif</string>
	<key>Lozenge</key>
	<string>Lozenge_.glif</string>
	<key>LtnCapA</key>
	<string>LtnCapA_.glif</string>
	<key>LtnCapAAcute</key>
	<string>LtnCapAAcute_.glif</string>
	<key>LtnCapACircum</key>
	<string>LtnCapACircum_.glif</string>
	<key>LtnCapADiaer</key>
	<string>LtnCapADiaer_.glif</string>
	<key>LtnCapAGrave</key>
	<string>LtnCapAGrave_.glif</string>
	<key>LtnCapARingAbv</key>
	<string>LtnCapARingAbv_.glif</string>
	<key>LtnCapATilde</key>
	<string>LtnCapATilde_.glif</string>
	<key>LtnCapAe</key>
	<string>LtnCapAe_.glif</string>
	<key>LtnCapB</key>
	<string>LtnCapB_.glif</string>
	<key>LtnCapC</key>
	<string>LtnCapC_.glif</string>
	<key>LtnCapCCedilla</key>
	<string>LtnCapCCedilla_.glif</string>
	<key>LtnCapD</key>
	<string>LtnCapD_.glif</string>
	<key>LtnCapE</key>
	<string>LtnCapE_.glif</string>
	<key>LtnCapEAcute</key>
	<string>LtnCapEAcute_.glif</string>
	<key>LtnCapECircum</key>
	<string>LtnCapECircum_.glif</string>
	<key>LtnCapEDiaer</key>
	<string>LtnCapEDiaer_.glif</string>
	<key>LtnCapEGrave</key>
	<string>LtnCapEGrave_.glif</string>
	<key>LtnCapEsh</key>
	<string>LtnCapEsh_.glif</string>
	<key>LtnCapEth</key>
	<string>LtnCapEth_.glif</string>
	<key>LtnCapF</key>
	<string>LtnCapF_.glif</string>
	<key>LtnCapG</key>
	<string>LtnCapG_.glif</string>
	<key>LtnCapH</key>
	<string>LtnCapH_.glif</string>
	<key>LtnCapI</key>
	<string>LtnCapI_.glif</string>
	<key>LtnCapIAcute</key>
	<string>LtnCapIAcute_.glif</string>
	<key>LtnCapICircum</key>
	<string>LtnCapICircum_.glif</string>
	<key>LtnCapIDiaer</key>
	<string>LtnCapIDiaer_.glif</string>
	<key>LtnCapIGrave</key>
	<string>LtnCapIGrave_.glif</string>
	<key>LtnCapJ</key>
	<string>LtnCapJ_.glif</string>
	<key>LtnCapK</key>
	<string>LtnCapK_.glif</string>
	<key>LtnCapL</key>
	<string>LtnCapL_.glif</string>
	<key>LtnCapLigOe</key>
	<string>LtnCapLigOe_.glif</string>
	<key>LtnCapM</key>
	<string>LtnCapM_.glif</string>
	<key>LtnCapN</key>
	<string>LtnCapN_.glif</string>
	<key>LtnCapNTilde</key>
	<string>LtnCapNTilde_.glif</string>
	<key>LtnCapO</key>
	<string>LtnCapO_.glif</string>
	<key>LtnCapOAcute</key>
	<string>LtnCapOAcute_.glif</string>
	<key>LtnCapOCircum</key>
	<string>LtnCapOCircum_.glif</string>
	<key>LtnCapODiaer</key>
	<string>LtnCapODiaer_.glif</string>
	<key>LtnCapOGrave</key>
	<string>LtnCapOGrave_.glif</string>
	<key>LtnCapOStrk</key>
	<string>LtnCapOStrk_.glif</string>
	<key>LtnCapOTilde</key>
	<string>LtnCapOTilde_.glif</string>
	<key>LtnCapP</key>
	<string>LtnCapP_.glif</string>
	<key>LtnCapQ</key>
	<string>LtnCapQ_.glif</string>
	<key>LtnCapR</key>
	<string>LtnCapR_.glif</string>
	<key>LtnCapS</key>
	<string>LtnCapS_.glif</string>
	<key>LtnCapSCaron</key>
	<string>LtnCapSCaron_.glif</string>
	<key>LtnCapT</key>
	<string>LtnCapT_.glif</string>
	<key>LtnCapThorn</key>
	<string>LtnCapThorn_.glif</string>
	<key>LtnCapU</key>
	<string>LtnCapU_.glif</string>
	<key>LtnCapUAcute</key>
	<string>LtnCapUAcute_.glif</string>
	<key>LtnCapUCircum</key>
	<string>LtnCapUCircum_.glif</string>
	<key>LtnCapUDiaer</key>
	<string>LtnCapUDiaer_.glif</string>
	<key>LtnCapUGrave</key>
	<string>LtnCapUGrave_.glif</string>
	<key>LtnCapV</key>
	<string>LtnCapV_.glif</string>
	<key>LtnCapW</key>
	<string>LtnCapW_.glif</string>
	<key>LtnCapX</key>
	<string>LtnCapX_.glif</string>
	<key>LtnCapY</key>
	<string>LtnCapY_.glif</string>
	<key>LtnCapYAcute</key>
	<string>LtnCapYAcute_.glif</string>
	<key>LtnCapYDiaer</key>
	<string>LtnCapYDiaer_.glif</string>
	<key>LtnCapZ</key>
	<string>LtnCapZ_.glif</string>
	<key>LtnCapZCaron</key>
	<string>LtnCapZCaron_.glif</string>
	<key>LtnSmA</key>
	<string>LtnSmA_.glif</string>
	<key>LtnSmAAcute</key>
	<string>LtnSmAAcute_.glif</string>
	<key>LtnSmACircum</key>
	<string>LtnSmACircum_.glif</string>
	<key>LtnSmADiaer</key>
	<string>LtnSmADiaer_.glif</string>
	<key>LtnSmAGrave</key>
	<string>LtnSmAGrave_.glif</string>
	<key>LtnSmARingAbv</key>
	<string>LtnSmARingAbv_.glif</string>
	<key>LtnSmATilde</key>
	<string>LtnSmATilde_.glif</string>
	<key>LtnSmAe</key>
	<string>LtnSmAe_.glif</string>
	<key>LtnSmB</key>
	<string>LtnSmB_.glif</string>
	<key>LtnSmC</key>
	<string>LtnSmC_.glif</string>
	<key>LtnSmCCedilla</key>
	<string>LtnSmCCedilla_.glif</string>
	<key>LtnSmD</key>
	<string>LtnSmD_.glif</string>
	<key>LtnSmDotlessI</key>
	<string>LtnSmDotlessI_.glif</string>
	<key>LtnSmE</key>
	<string>LtnSmE_.glif</string>
	<key>LtnSmEAcute</key>
	<string>LtnSmEAcute_.glif</string>
	<key>LtnSmECircum</key>
	<string>LtnSmECircum_.glif</string>
	<key>LtnSmEDiaer</key>
	<string>LtnSmEDiaer_.glif</string>
	<key>LtnSmEGrave</key>
	<string>LtnSmEGrave_.glif</string>
	<key>LtnSmEth</key>
	<string>LtnSmEth_.glif</string>
	<key>LtnSmF</key>
	<string>LtnSmF_.glif</string>
	<key>LtnSmFHook</key>
	<string>LtnSmFHook_.glif</string>
	<key>LtnSmG</key>
	<string>LtnSmG_.glif</string>
	<key>LtnSmH</key>
	<string>LtnSmH_.glif</string>
	<key>LtnSmI</key>
	<string>LtnSmI_.glif</string>
	<key>LtnSmIAcute</key>
	<string>LtnSmIAcute_.glif</string>
	<key>LtnSmICircum</key>
	<string>LtnSmICircum_.glif</string>
	<key>LtnSmIDiaer</key>
	<string>LtnSmIDiaer_.glif</string>
	<key>LtnSmIGrave</key>
	<string>LtnSmIGrave_.glif</string>
	<key>LtnSmJ</key>
	<string>LtnSmJ_.glif</string>
	<key>LtnSmK</key>
	<string>LtnSmK_.glif</string>
	<key>LtnSmL</key>
	<string>LtnSmL_.glif</string>
	<key>LtnSmLigFi</key>
	<string>LtnSmLigFi_.glif</string>
	<key>LtnSmLigFl</key>
	<string>LtnSmLigFl_.glif</string>
	<key>LtnSmLigOe</key>
	<string>LtnSmLigOe_.glif</string>
	<key>LtnSmM</key>
	<string>LtnSmM_.glif</string>
	<key>LtnSmN</key>
	<string>LtnSmN_.glif</string>
	<key>LtnSmNTilde</key>
	<string>LtnSmNTilde_.glif</string>
	<key>LtnSmO</key>
	<string>LtnSmO_.glif</string>
	<key>LtnSmOAcute</key>
	<string>LtnSmOAcute_.glif</string>
	<key>LtnSmOCircum</key>
	<string>LtnSmOCircum_.glif</string>
	<key>LtnSmODiaer</key>
	<string>LtnSmODiaer_.glif</string>
	<key>LtnSmOGrave</key>
	<string>LtnSmOGrave_.glif</string>
	<key>LtnSmOStrk</key>
	<string>LtnSmOStrk_.glif</string>
	<key>LtnSmOTilde</key>
	<string>LtnSmOTilde_.glif</string>
	<key>LtnSmP</key>
	<string>LtnSmP_.glif</string>
	<key>LtnSmQ</key>
	<string>LtnSmQ_.glif</string>
	<key>LtnSmR</key>
	<string>LtnSmR_.glif</string>
	<key>LtnSmS</key>
	<string>LtnSmS_.glif</string>
	<key>LtnSmSCaron</key>
	<string>LtnSmSCaron_.glif</string>
	<key>LtnSmSharpS</key>
	<string>LtnSmSharpS_.glif</string>
	<key>LtnSmT</key>
	<string>LtnSmT_.glif</string>
	<key>LtnSmThorn</key>
	<string>LtnSmThorn_.glif</string>
	<key>LtnSmU</key>
	<string>LtnSmU_.glif</string>
	<key>LtnSmUAcute</key>
	<string>LtnSmUAcute_.glif</string>
	<key>LtnSmUCircum</key>
	<string>LtnSmUCircum_.glif</string>
	<key>LtnSmUDiaer</key>
	<string>LtnSmUDiaer_.glif</string>
	<key>LtnSmUGrave</key>
	<string>LtnSmUGrave_.glif</string>
	<key>LtnSmV</key>
	<string>LtnSmV_.glif</string>
	<key>LtnSmW</key>
	<string>LtnSmW_.glif</string>
	<key>LtnSmX</key>
	<string>LtnSmX_.glif</string>
	<key>LtnSmY</key>
	<string>LtnSmY_.glif</string>
	<key>LtnSmYAcute</key>
	<string>LtnSmYAcute_.glif</string>
	<key>LtnSmYDiaer</key>
	<string>LtnSmYDiaer_.glif</string>
	<key>LtnSmZ</key>
	<string>LtnSmZ_.glif</string>
	<key>LtnSmZCaron</key>
	<string>LtnSmZCaron_.glif</string>
	<key>Macron</key>
	<string>Macron_.glif</string>
	<key>MascOrdIndicator</key>
	<string>MascOrdIndicator_.glif</string>
	<key>MicroSgn</key>
	<string>MicroSgn_.glif</string>
	<key>ModCircumAccent</key>
	<string>ModCircumAccent_.glif</string>
	<key>MultSgn</key>
	<string>MultSgn_.glif</string>
	<key>NAryProduct</key>
	<string>NAryProduct_.glif</string>
	<key>NArySummation</key>
	<string>NArySummation_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>NotEqTo</key>
	<string>NotEqTo_.glif</string>
	<key>NotSgn</key>
	<string>NotSgn_.glif</string>
	<key>NumSgn</key>
	<string>NumSgn_.glif</string>
	<key>Ogonek</key>
	<string>Ogonek_.glif</string>
	<key>OhmSgn</key>
	<string>OhmSgn_.glif</string>
	<key>PartialDiff</key>
	<string>PartialDiff_.glif</string>
	<key>PerMilleSgn</key>
	<string>PerMilleSgn_.glif</string>
	<key>PercentSgn</key>
	<string>PercentSgn_.glif</string>
	<key>PilcrowSgn</key>
	<string>PilcrowSgn_.glif</string>
	<key>PlusMinusSgn</key>
	<string>PlusMinusSgn_.glif</string>
	<key>PlusSgn</key>
	<string>PlusSgn_.glif</string>
	<key>PoundSgn</key>
	<string>PoundSgn_.glif</string>
	<key>RegisteredSgn</key>
	<string>RegisteredSgn_.glif</string>
	<key>RingAbv</key>
	<string>RingAbv_.glif</string>
	<key>RtPtngDblAngQuotMrk</key>
	<string>RtPtngDblAngQuotMrk_.glif</string>
	<key>SectionSgn</key>
	<string>SectionSgn_.glif</string>
	<key>SmTilde</key>
	<string>SmTilde_.glif</string>
	<key>SqrRoot</key>
	<string>SqrRoot_.glif</string>
	<key>SupOne</key>
	<string>SupOne_.glif</string>
	<key>SupThree</key>
	<string>SupThree_.glif</string>
	<key>SupTwo</key>
	<string>SupTwo_.glif</string>
	<key>TradeMrkSgn</key>
	<string>TradeMrkSgn_.glif</string>
	<key>VulgFracOneHalf</key>
	<string>VulgFracOneHalf_.glif</string>
	<key>VulgFracOneQuarter</key>
	<string>VulgFracOneQuarter_.glif</string>
	<key>VulgFracThreeQuarters</key>
	<string>VulgFracThreeQuarters_.glif</string>
	<key>YenSgn</key>
	<string>YenSgn_.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dailuemodifierfinal</key>
	<string>dailuemodifierfinal.glif</string>
	<key>dailuemodifierw</key>
	<string>dailuemodifierw.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni1980</key>
	<string>uni1980.glif</string>
	<key>uni1981</key>
	<string>uni1981.glif</string>
	<key>uni1982</key>
	<string>uni1982.glif</string>
	<key>uni1983</key>
	<string>uni1983.glif</string>
	<key>uni1984</key>
	<string>uni1984.glif</string>
	<key>uni1985</key>
	<string>uni1985.glif</string>
	<key>uni1986</key>
	<string>uni1986.glif</string>
	<key>uni1987</key>
	<string>uni1987.glif</string>
	<key>uni1988</key>
	<string>uni1988.glif</string>
	<key>uni1989</key>
	<string>uni1989.glif</string>
	<key>uni198A</key>
	<string>uni198A_.glif</string>
	<key>uni198B</key>
	<string>uni198B_.glif</string>
	<key>uni198C</key>
	<string>uni198C_.glif</string>
	<key>uni198D</key>
	<string>uni198D_.glif</string>
	<key>uni198E</key>
	<string>uni198E_.glif</string>
	<key>uni198F</key>
	<string>uni198F_.glif</string>
	<key>uni1990</key>
	<string>uni1990.glif</string>
	<key>uni1991</key>
	<string>uni1991.glif</string>
	<key>uni1992</key>
	<string>uni1992.glif</string>
	<key>uni1993</key>
	<string>uni1993.glif</string>
	<key>uni1994</key>
	<string>uni1994.glif</string>
	<key>uni1995</key>
	<string>uni1995.glif</string>
	<key>uni1996</key>
	<string>uni1996.glif</string>
	<key>uni1997</key>
	<string>uni1997.glif</string>
	<key>uni1998</key>
	<string>uni1998.glif</string>
	<key>uni1999</key>
	<string>uni1999.glif</string>
	<key>uni199A</key>
	<string>uni199A_.glif</string>
	<key>uni199B</key>
	<string>uni199B_.glif</string>
	<key>uni199C</key>
	<string>uni199C_.glif</string>
	<key>uni199D</key>
	<string>uni199D_.glif</string>
	<key>uni199E</key>
	<string>uni199E_.glif</string>
	<key>uni199F</key>
	<string>uni199F_.glif</string>
	<key>uni19A0</key>
	<string>uni19A_0.glif</string>
	<key>uni19A1</key>
	<string>uni19A_1.glif</string>
	<key>uni19A2</key>
	<string>uni19A_2.glif</string>
	<key>uni19A3</key>
	<string>uni19A_3.glif</string>
	<key>uni19A4</key>
	<string>uni19A_4.glif</string>
	<key>uni19A5</key>
	<string>uni19A_5.glif</string>
	<key>uni19A6</key>
	<string>uni19A_6.glif</string>
	<key>uni19A7</key>
	<string>uni19A_7.glif</string>
	<key>uni19A8</key>
	<string>uni19A_8.glif</string>
	<key>uni19A9</key>
	<string>uni19A_9.glif</string>
	<key>uni19AA</key>
	<string>uni19A_A_.glif</string>
	<key>uni19AB</key>
	<string>uni19A_B_.glif</string>
	<key>uni19B0</key>
	<string>uni19B_0.glif</string>
	<key>uni19B1</key>
	<string>uni19B_1.glif</string>
	<key>uni19B2</key>
	<string>uni19B_2.glif</string>
	<key>uni19B3</key>
	<string>uni19B_3.glif</string>
	<key>uni19B4</key>
	<string>uni19B_4.glif</string>
	<key>uni19B5</key>
	<string>uni19B_5.glif</string>
	<key>uni19B6</key>
	<string>uni19B_6.glif</string>
	<key>uni19B7</key>
	<string>uni19B_7.glif</string>
	<key>uni19B8</key>
	<string>uni19B_8.glif</string>
	<key>uni19B9</key>
	<string>uni19B_9.glif</string>
	<key>uni19BA</key>
	<string>uni19B_A_.glif</string>
	<key>uni19BB</key>
	<string>uni19B_B_.glif</string>
	<key>uni19BC</key>
	<string>uni19B_C_.glif</string>
	<key>uni19BD</key>
	<string>uni19B_D_.glif</string>
	<key>uni19BE</key>
	<string>uni19B_E_.glif</string>
	<key>uni19BF</key>
	<string>uni19B_F_.glif</string>
	<key>uni19C0</key>
	<string>uni19C_0.glif</string>
	<key>uni19C1</key>
	<string>uni19C_1.glif</string>
	<key>uni19C2</key>
	<string>uni19C_2.glif</string>
	<key>uni19C3</key>
	<string>uni19C_3.glif</string>
	<key>uni19C4</key>
	<string>uni19C_4.glif</string>
	<key>uni19C5</key>
	<string>uni19C_5.glif</string>
	<key>uni19C6</key>
	<string>uni19C_6.glif</string>
	<key>uni19C7</key>
	<string>uni19C_7.glif</string>
	<key>uni19C8</key>
	<string>uni19C_8.glif</string>
	<key>uni19C9</key>
	<string>uni19C_9.glif</string>
	<key>uni19D0</key>
	<string>uni19D_0.glif</string>
	<key>uni19D1</key>
	<string>uni19D_1.glif</string>
	<key>uni19D2</key>
	<string>uni19D_2.glif</string>
	<key>uni19D3</key>
	<string>uni19D_3.glif</string>
	<key>uni19D4</key>
	<string>uni19D_4.glif</string>
	<key>uni19D5</key>
	<string>uni19D_5.glif</string>
	<key>uni19D6</key>
	<string>uni19D_6.glif</string>
	<key>uni19D7</key>
	<string>uni19D_7.glif</string>
	<key>uni19D8</key>
	<string>uni19D_8.glif</string>
	<key>uni19D9</key>
	<string>uni19D_9.glif</string>
	<key>uni19DA</key>
	<string>uni19D_A_.glif</string>
	<key>uni19DE</key>
	<string>uni19D_E_.glif</string>
	<key>uni19DF</key>
	<string>uni19D_F_.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>uni200B</key>
	<string>uni200B_.glif</string>
	<key>uni2010</key>
	<string>uni2010.glif</string>
	<key>uni2011</key>
	<string>uni2011.glif</string>
	<key>uni2060</key>
	<string>uni2060.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
	<key>uni3000</key>
	<string>uni3000.glif</string>
	<key>uni3001</key>
	<string>uni3001.glif</string>
	<key>uni3002</key>
	<string>uni3002.glif</string>
	<key>uni3008</key>
	<string>uni3008.glif</string>
	<key>uni3009</key>
	<string>uni3009.glif</string>
	<key>uni300A</key>
	<string>uni300A_.glif</string>
	<key>uni300B</key>
	<string>uni300B_.glif</string>
	<key>uniFF01</key>
	<string>uniF_F_01.glif</string>
	<key>uniFF08</key>
	<string>uniF_F_08.glif</string>
	<key>uniFF09</key>
	<string>uniF_F_09.glif</string>
	<key>uniFF0C</key>
	<string>uniF_F_0C_.glif</string>
	<key>uniFF0E</key>
	<string>uniF_F_0E_.glif</string>
	<key>uniFF1A</key>
	<string>uniF_F_1A_.glif</string>
	<key>uniFF1B</key>
	<string>uniF_F_1B_.glif</string>
	<key>uniFF1F</key>
	<string>uniF_F_1F_.glif</string>
</dict>
</plist>
